<% provide(:title, "About") %>
<div class="container">
    
  <div class="col-md-12 bigBottom">
    <%= image_tag("detailsHeader.jpg") %>
  </div>
  
    <div class="col-md-6">
      <div class="detailsGrayBox">
        <p style="font-size:150%"><b>Ceremony Details</b></p>
        <p><b>Location:</b> Stirling Avenue Mennonite Church, Kitchener ON</p>
        <p><b>Date and Time:</b> Saturday October 17, 2015, 3:00 PM</p>
        <div style="text-align:center">
          <iframe width="467" height="350" frameborder="0" class="mapFrame" src="https://www.google.com/maps/embed/v1/place?q=Stirling%20Ave%20Mennonite%20Church%2C%20Stirling%20Avenue%20North%2C%20Kitchener%2C%20ON%2C%20Canada&key=AIzaSyA2JLlp_W08DDWFtHzqkTEJNXfu-aYKQS8" allowfullscreen></iframe>
        </div>
      </div>
      <br /><br />
    </div>  
    
    <div class="col-md-6" >
      <div class="detailsGrayBox">
        <p style="font-size:150%"><b>Reception Details</b></p>
        <p><b>Location:</b> New Dundee Country Club, Wilmot ON</p>
        <p><b>Date and Time:</b> Saturday October 17, 2015, 5:30 PM</p>
        <div style="text-align:center">
          <iframe width="467" height="350" frameborder="0" class="mapFrame" src="https://www.google.com/maps/embed/v1/place?q=Dundee%20Country%20Club%2C%20Wilmot%2C%20ON%2C%20Canada&key=AIzaSyA2JLlp_W08DDWFtHzqkTEJNXfu-aYKQS8" allowfullscreen></iframe>
        </div>
      </div>
        <br /><br />
    </div>  
  
</div>