<div class="container">
  
  <div class="col-md-12 bigBottom">
    <%= image_tag("registerHeader.jpg") %>
  </div>
  
  <div class="col-md-2"></div>
  
  <div class="col-md-8">
    <p>
      If you wish to contribute gifts to aid us in beginning our home together, please use these sites for suggestions 
      of things that we would find useful. Just know that your presence is a gift big enough for us, so don't feel 
      obliged to purchase anything to come to the party.
    </p>
    <br /><br />
    <p style="font-size:150%"><b>Hudson's Bay Company</b></p>
    <p>
      <a href="http://giftregistry.hbc.com/grworks/prj/generic_online/jsp/common/grbookmark.jsp?retailerid=4&cc=400126231041&languageid=0" >Link to Registry</a>
    </p>
    
    <br /><br />
    <p style="font-size:150%"><b>Adventure Guide</b></p>
    <p>Adventure Guide doesn't have a registry option, so any gift cards will help us begin our core camping collection - a tent, a camp stove and other gear.</p>
    <p>
      <a href="http://advguide.com/" >Link to store website</a>
    </p>
    
  </div>

  
</div>