<% provide(:title, 'RSVP') %>

  <div class="col-md-12 bigBottom">
    <%= image_tag("rsvpheader.jpg") %>
  </div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@rsvp) do |f| %>
      <%= render 'shared/error_messages' %>
    
      <%= f.label :name, :class => "boldLabel" %>
      <%= f.text_field :name, :class => "form-control" %>
      
      <%= f.label :email, :class => "boldLabel" %>
      <%= f.email_field :email, :class => "form-control" %>
      
      <%= f.label "Do you plan on attending?", :class => "boldLabel" %>
      <br />
      
      &nbsp;&nbsp;&nbsp;<%= f.radio_button :attending, true, :checked => true %>
      <%= f.label :attending, :value => 'Yes' %>
      <br />
      
      &nbsp;&nbsp;&nbsp;<%= f.radio_button :attending, false %>
      <%= f.label :attending, :value => 'No' %>
      <br />
      <br />
      
      <%= f.label "Meal Selection", :class => "boldLabel" %>
      
      <% [ 'chicken', 'prime rib', 'vegetarian' ].each do |foodPreference| %>
        <br>&nbsp;&nbsp;&nbsp;<%= f.radio_button :FoodPreference, foodPreference %>
        <%= label_tag "rsvp_FoodPreference_#{foodPreference}", foodPreference.humanize %>
      <% end %>
      <br />
      <br />
      
      <%= f.label "Additional Information", :class => "boldLabel" %>
      <%= f.text_area :additionalInfo, :class => "form-control" %>
      
      <%= f.submit "Send RSVP", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>