@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 60px;
  font-family: "calluna",serif;
}

.homepage {
  background-image: image-url('homePageBlackAndWhite.jpg'); 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: 100%;
}

.details2 {
  background-image: image-url('testbackground1.jpg'); 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-size: cover;
}

.details {
}

.greyBackground {
  background-color: #E7E7E7;
}

a {
  color:#000;
}

b {
  color:#141482;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: black;
}

p {
  font-size: 1.5em;
  line-height: 1.7em;
}

img {
  max-width:100%;
  max-height:100%;
}

/* header */

/*.navbar {
  margin-bottom: 0px;
}*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.center.navbar .nav,
.center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
}

.center .navbar-inner {
    text-align:center;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.filledDiv {
  background: #E6E6E6;
  -moz-border-radius: 6px;
  border-radius: 6px;
  padding: 5px;
  border: 0px solid black;
  padding-left: 12px;
}

.absoluteCenter300 {
  position: absolute;
  right: 25%;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}

.mapFrame {
  border:1px solid black;
}

.bigBottom {
  padding-bottom: 20px;
}

.detailsGrayBox {
  background-color:#B0B0B0;
  padding-left:7px;
}

.registryHeader {
  font-size:1.7em;
  
}

/* debug info */

@mixin box_sizing {
  -mox-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

label {
  font-size:16px;
  font-weight:normal;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.boldLabel {
  font-weight: bold;
}

.field_with_errors { 
  display: inline; 
}