<header class="navbar navbar-fixed-top center">
  <div class="container">
    <!--<%= link_to "Andrew and Caitie", root_path, id: "logo" %>-->
    <nav>
      <ul class="nav navbar-inner">
        <li><%= link_to "HOME",   root_path %></li>
        <li><%= link_to "DETAILS",   details_path %></li>
        <li><%= link_to "REGISTER",   register_path %></li>
        <li><%= link_to "RSVP",   rsvps_path %></li>
      </ul>
    </nav>
  </div>
</header>